body {
    background-image: url(80sBG.jpg);
    background-size: cover;
    text-align: center;
}
h1 {

}
.outline {
    border: 1px solid rgb(55, 255, 55);
}
.buttonRow {
    display: inline;
}
.btnStyle:hover {
    color: rgb(230, 6, 200);
    background-color: black;
    border: 1px solid rgb(6, 230, 211);
}
.btnStyle {
    color: rgb(6, 230, 211);
    background-color: black;
    border: 1px solid rgb(255, 166, 0);
}
.jumbotron{
    background: transparent;
    color: rgb(230, 6, 200);
}
#input80s {
    color: rgb(6, 230, 211);
    background-color: transparent;
    border: 1px solid rgb(255, 166, 0);
}
#add-nos {
    color: rgb(6, 230, 211);
    background-color: black;
    border: 1px solid rgb(255, 166, 0);
}